/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2d2e32;
  --font-mulish: "Mulish", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mulish), sans-serif;
}

html {
  scroll-behavior: smooth;
}

@keyframes drip {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(10px);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.raindrop {
  width: 10px;
  height: 14px;
  background-color: #60a5fa;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  animation: drip 1.9s ease-in-out infinite;
}
